h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color:#4caf50;
    padding:40px;
    color: white;
}

body{
    background-color: #f6eee0;
    font-family: 'Times New Roman', Times, serif;
}